.dialog-content {
    display: flex !important;
    flex-direction: column;
    width: 100%;
}
.dialog-content mat-form-field {
    width: 100%;
    margin-bottom: 16px;
}
.fixed-actions {
    bottom: 0;
    width: 95%;
    background: #fdfbff;
    padding: 5px;
    height: auto;
    display: flex;
    justify-content: center;
    .fixed-actions-button {
        margin: 5px !important;
        border-radius: 10px !important;
        font-weight: 600 !important;
        background-color: #f0f0f0 !important;
        color: #3f51b5 !important;
        border: none !important;
    }
}
.mat-display-medium, .mat-typography .mat-display-medium, .mat-typography h2 {
    font: 400 1.3rem/0.9rem Roboto, sans-serif !important;
    letter-spacing: 0 !important;
    margin: 0 !important;
}
.mat-display-medium, .mat-typography .mat-display-medium, .mat-typography h2 a {
    font: 800 0.93rem/0.9rem Roboto, sans-serif !important;
    font-weight: 800 !important;
    letter-spacing: 0 !important;
    margin: 0 !important;
}
