<div *ngIf="isLoading" class="fullscreen-spinner">
  <div class="spinner-container">
      <mat-spinner></mat-spinner>
  </div>
</div>
<div *ngIf="!isLoading" class="product-table">
  <mat-toolbar class="product-toolbar">
      <h2 class="toolbar-title">{{ queryPaginationProduct.total }} Producto<span *ngIf="queryPaginationProduct.total > 1 || queryPaginationProduct.total === 0">s</span>
      </h2>
      <button mat-raised-button color="primary" (click)="onCreate()" class="create-button">
          <mat-icon>add</mat-icon> Crear Nuevo Producto
      </button>
  </mat-toolbar>
  <div class="product-div-table" #scrollContainer (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp()" (mouseleave)="onMouseLeave()" (mousemove)="onMouseMove($event)">
      <table mat-table class="product-table" [dataSource]="products" [trackBy]="trackByFn">
          <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef> Eliminar </th>
              <td mat-cell *matCellDef="let element">
                  <button mat-icon-button (click)="onDelete(element)">
                      <mat-icon>delete</mat-icon>
                  </button>
              </td>
          </ng-container>
          <ng-container matColumnDef="update">
              <th mat-header-cell *matHeaderCellDef> Actualizar </th>
              <td mat-cell *matCellDef="let element">
                  <button mat-icon-button (click)="onUpdate(element)">
                      <mat-icon>edit</mat-icon>
                  </button>
              </td>
          </ng-container>
          <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
          </ng-container>
          <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef> Categoría </th>
              <td mat-cell *matCellDef="let element"> {{ element.category }} </td>
          </ng-container>
          <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef> Precio </th>
              <td mat-cell *matCellDef="let element"> {{ element.price | currency:'USD':'symbol' }} </td>
          </ng-container>
          <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef> Cantidad </th>
              <td mat-cell *matCellDef="let element"> {{ element.quantity }} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsProductList"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsProductList;"></tr>
      </table>
  </div>
  <mat-paginator class="product-paginator" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="queryPaginationProduct.total" [pageSize]="queryPaginationProduct.limit" (page)="onPageChange( $event )"></mat-paginator>
</div>